body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.confirmation-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}

.confirmation-container h1 {
  color: #ff6a3d;
  font-size: 24px;
  margin-bottom: 20px;
}

.confirmation-container p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.important-info {
  font-size: 16px;
  text-align: left;
  color: #555;
  margin-bottom: 20px;
}

.important-info ol {
  padding-left: 20px;
}

.important-info li {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.confirm-button {
  background-color: #ff6a3d;
  color: white;
}

.cancel-button {
  background-color: #ddd;
  color: #333;
}

.confirm-button:hover {
  background-color: #e55d3b;
}

.cancel-button:hover {
  background-color: #ccc;
}
.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #1a2238;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.main-header h1 {
  color: #f6edea;
  font-weight: 800;
  font-size: 22px;
}

.main-header .highlight {
  color: #ff6a3d;
}

.back-button {
  position: fixed;
  top: 30px;
  right: 10px;
  background-color: #ff6a3d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000; /* Ensure it appears above other elements */
}

.back-button:hover {
  background-color: #e55d3b;
}
.highlight {
  color: #ff6a3d;
}
