:root {
  --primary-color: #ff6a3d;
  --background-color: #1a1e2e;
  --text-color: #ffffff;
}


body {
  background: var(--background-color);
  color: #fff;
  font-family: Arial, sans-serif;
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 75vh;
  min-height: 400px;
  max-height: 700px;
  width: 99%;
  margin: 20px 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  gap: 10px; /* Adds consistent spacing between elements */
  margin-top: 5%;
}

#source,
#destination {
  height: 50px;
  flex-grow: 1; /* Ensures the input fields expand based on available space */
  max-width: 500px; /* Limit width on larger screens */
  padding: 7px;
  font-weight: 700;
  font-size: medium;
  margin: 0; /* Reset margin for consistency */
  border: none;
  border-radius: 12px;
  box-sizing: border-box; /* Ensures padding is considered within width */
}

.get-direction {
  height: 50px;
  width: 250px; /* Consistent width for button on larger screens */
  font-weight: 700;
  margin-left: 5px; /* Space between button and inputs */
  border-radius: 12px;
  background-color: #ff6a3d;
  color: #fff;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch; /* Makes child elements take up full width */
    gap: 10px; /* Adds spacing between elements */
  }

  #source,
  #destination,
  .get-direction {
    width: 100%; /* Full width for smaller screens */
    max-width: 100%; /* Override max-width to fit smaller screens */
  }

  .get-direction {
    margin-left: 0; /* Remove left margin to center button */
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; /* Makes the header stick at the top */
  top: 0; /* Keeps the header at the top */
  z-index: 100; /* Ensures the header stays above other content */
  background-color: #1a2238; /* Keeps the background intact */
  padding: 10px; /* Padding around the header */
  margin-bottom: 20px; /* Space below the header */
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px; /* Space between the back button and logo */
}

.back-button-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 30px; /* Logo font size */
  font-weight: bold; /* Logo font weight */
  display: inline-block; /* Prevent wrapping */
}
.crave {
  color: #ff6a3d;
}

@media (max-width: 1040px) {
  .container {
    margin-top: 12%;
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: 14%;
  }
}

@media (max-width: 350px) {
  .container {
    margin-top: 24%;
  }
}
