body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1e2e;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.crave {
    color: var(--primary-color);
}

.meal-Credits-container {
    max-width: 1200px;
    margin: 0 auto;

}
.credits-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.credits-amount {
    font-size: 24px;
    font-weight: bold;
}
.transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}
.view-all {
    color: #ff6a3d;
    text-decoration: none;
}
.transaction {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.transaction-details {
    display: flex;
    flex-direction: column;
}
.transaction-amount {
    color: #e74c3c;
    font-weight: bold;
}
.transaction-amount.positive {
    color: #2ecc71;
}
