:root {
    --primary-color: #043673;
    --background-color: #ffffff;
    --text-color: #043673;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 4%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
  
  }
  
  .navbar-toggle {
    background: none;
    border: none;
    color: #043673;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
    width: auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #917248;
  }
  
  .crave {
    color: var(--primary-color);
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 99;
  }
  
  .sidenav a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #043673;
    display: block;
    transition: background-color 0.2s ease;
    white-space: nowrap;
  }
  
  .sidenav a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
  
.cart-icon img {
    width: 35px;
    height: 35px;
}

.add-to-cart {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-cart:hover {
    /* background-color: white;
    color: var(--primary-color); */
    transform: scale(1.1);
}

.cart-icon {
    position: fixed;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
}

#cart-count {
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
    position: absolute;
    top: -10px;  /* Positioning the count on the top right */
    right: -10px; /* Positioning the count on the top right */
    font-weight: bold;
}


.unread-count {
    background-color: var(--primary-color); /* Background color */
    color: white; /* Text color */
    border-radius: 50%; /* Make it round */
    padding: 3px 7px; /* Padding for size */
    margin-left: 5px; /* Space between text and count */
    font-size: 14px; /* Font size */
  }

.search-bar {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 5px 10px; 
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    flex-grow: 1;
}

.search-bar input {
    background: var(--primary-color);;
    border: var(--primary-color);
    color: var(--text-color);
    flex-grow: 1;
    font-size: 16px;
    padding: 5px 10px;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#search-button {
    background-color: white;
    color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#search-button:hover {
    background-color: var(--background-color);
    color: white;
}

.no-results {
    text-align: center;
    color: var(--text-color);
    font-style: italic;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 20px 0;
}
@media (max-width: 660px) {

  /* Adjust the search bar positioning */
  body {
    margin-top: 17%;
  }
  .sidenav {
    top: 100px;
  }
  .header-content {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if space is tight */
    justify-content: space-between;
    align-items: center;
  }

  .search-bar {
    margin-top: 1.5%;;
    flex-grow: 1; /* Allow search bar to take up remaining space */

  }

  .search-bar input {
    width: 100%; /* Ensure search bar takes full width */
  }
  
  .cart-icon {
    position: relative; /* Ensure it stays in the header */
    margin-left: auto; /* Push cart to the right */
  }
}


.menu-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

select {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

#diet-preference {
    margin-bottom: 20px;
}

#menu-container {
    display: block;
}

.day-container {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.day-container h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}

.today-header {
    color: var(--primary-color);
    font-size: 1.8em;
}

.day-container .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    justify-content: center;
}

.day-container .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.102);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin: 5px 0;
    font-size: clamp(0.8em, 2.5vw, 1em);
    color: var(--primary-color);
}

.menu-item h4 {
    margin: 3px 0;
    font-size: clamp(0.7em, 2vw, 0.9em);
}

.menu-item p {
    margin: 0;
    font-size: clamp(0.7em, 2vw, 0.9em);
}

.menu-item:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    color: var(--text-color);
}

.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

#item-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.reservation-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
}

.empty-menu-message {
    font-style: italic;
    color: var(--text-color);
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

/* Toaster notification styling */
#toaster {
    position: fixed;
    top: 20px;  
    right: 20%;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    font-size: 16px;
}

#toaster.show {
    display: block;
}

#duplicate-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#duplicate-modal .modal-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    color: var(--text-color);
}

#replace-btn, #cancel-replace-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cancel-replace-btn {
    background-color: #ff4d4d;
}

#replace-btn:hover {
    background-color: #e55542;
}

#cancel-replace-btn:hover {
    background-color: #e60000;
}


@media (max-width: 350px) {
    .day-container {
        padding: 15px;
    }
    
    .day-container .menu-items {
        gap: 10px;
    }
}