body {
  background: #1a2238;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.main-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2238;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick it to the top */
  z-index: 1000; /* Ensure it stays on top of other content */
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.main-header h1 {
  color: #f6edea;
  font-weight: 800;
  font-size: 26px;
}

.main-header .highlight {
  color: #ff6a3d;
}

.container {
  padding: 20px;
  max-width: 80%; /* Set width to 100% */
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ff6a3d;
}

.back-button {
  background-color: #ff6a3d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e55d3b;
}

.meal-selection {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.time-slot {
  margin-bottom: 15px;
  display: none;
}

input[type="text"],
textarea,
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button#submit-button {
  background-color: #ff6a3d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button#submit-button:hover {
  background-color: #f05323;
}

.cost-info,
.personal-info {
  margin-bottom: 20px;
}

#cost-summary {
  font-size: 18px;
  margin-top: 10px;
}
